# Ignore all JSON and GeoJSON files
*.json
*.geojson

# Ignore database files
*.db
*.sqlite3

# Ignore image files
*.png
*.jpg
*.jpeg
*.gif

# Ignore system-specific or editor-related files
.DS_Store
Thumbs.db

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment folders
venv/
.env/

# Ignore log files
*.log

# Ignore temporary or backup files
*.tmp
*.bak
*.swp
*.~*

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
