# Ignore all JSON and GeoJSON files
*.json
*.geojson

# Ignore database files
*.db
*.sqlite3

# Ignore image files
*.png
*.jpg
*.jpeg
*.gif

# Ignore system-specific or editor-related files
.DS_Store
Thumbs.db

